.Modal {
    position: fixed;
    z-index: 500;
    background-color: white;
    width: 70%;
    border: 1px solid #cccccc;
    box-shadow: 1px 1px 1px black;
    padding: 16px;
    left: 15%;
    top: 5%;
    box-sizing: border-box;
    transition: all 0.3s ease-out;
}

.Modal button{
    float: right;
    margin-bottom: 10px;
    background: none;
    border: none;
}
@media (min-width: 1200px) {
    .Modal {
        width: 1100px;
        left: calc(50% - 550px);
    }
}
.GalleryImage {
    width: 60%;
    height: 600px;
    margin-left: 200px;
}
